.button-group {
  display: flex;

  &.layout-inline {
    align-items: stretch;

    .btn {
      flex-grow: 1;

      // TODO: This falls apart quickly if more than three elements, consider nth-child
      &:first-child {
        border-right: 0;
      }

      &:last-child {
        border-left: 0;
      }
    }
  }

  &.layout-list {
    flex-direction: column;
    margin-bottom: 10px;

    .btn {
      margin-bottom: 15px;
    }
  }
}
