:root {
  --baseFontFamily: 'Inconsolata', monospace;
  --colorPrimary: #01579B;
  --colorDanger: #C62828;
  --colorWarning: #FF8F00;
  --colorSuccess: #388E3C;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--baseFontFamily), monospace;
}

/* TODO: Revisit, sort out why shorthands arent working... */

.container {
  display: grid;
  max-width: 1024px; /* TODO: make this a little less abritrary? */
  margin: 0 auto;
  grid-gap: 15px;
  grid-template-columns: repeat(12 1fr);
  grid-template-rows: repeat(6 1fr);
}

header {
  grid-row: 1;
  grid-column: 1 / 12; /* -1, fill span shorthand */
}

.profile {
  grid-column: 1 / 4;
  grid-row: 2 / 6;
}

.quote {
  grid-row: 3 / 6;
  grid-column: 4 / 10;
}

.actions-quote {
  grid-row: 2;
  grid-column: 4 / 12;
}

.actions-user {
  grid-row: 3;
  grid-column: 10 / 12;
}
